<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Message Bottle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Message Bottle</h1>
    <div class="letter_content">
        <div>
            <h3>떠내려온 편지</h3>
            <p>내용</p>
            <p>이름 모를 누군가가</p>
            <p>
                <button>공감하기!</button>
                <button>다른 편지 ></button>
            </p>
        </div>
    </div>

    <div class="menu_content">
        <div>
            <a href="letter/new">편지쓰기</a>
            <a href="letter/list">편지목록</a>
        </div>
    </div>
</body>
</html>