<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>내용</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="letter : ${letters}">
                <td th:text="${letter.id}"></td>
                <td th:text="${letter.content}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>